/*  ===   HERO    ===  */

.hero
    width: 100%
    height: 400px
    background-color: #727272
    .slider  
        width: 100%
        height: 100%
        background-color: #40407a
        overflow: hidden
        position: relative
        .slide
            // border: 1px solid red
            height: 100%
            width: 100%
            display: none
            flex-direction: row
            align-items: center
            div
                height: 70%
                width: 100%
                display: flex
                flex-direction: column
                justify-content: space-between
                align-items: center
                text-align: center
                h3
                    color: #fff
                    font-size: 2.5em
                    width: 70%
                    span
                        color: #706fd3
                p
                    width: 70%
                    color: #fff
                #s1-b
                    padding: 8px 12px
                    border: 0
                    border-radius: 5px
                    background-color: #706fd3
                    color: #fff
                    font-size: 1.1em
                    box-sizing: border-box
                    border: 2px solid #40407a
                    &:hover
                        border: 2px solid #fff
            // &:nth-child(1)
            //     display: none
            // &:nth-child(2)
            //     display: none             
        .buttons
            // border: 1px solid red
            display: flex
            flex-direction: row
            justify-content: space-between
            width: 100%
            max-width: 1200px
            z-index: 999
            position: absolute
            top: 44%
            left: 0
            right: 0
            margin: 0 auto
            text-align: center
            button
                display: block
                color: #ffffff
                background-color: transparent
                border: none
                height: 50px
                width: 40px
                &:hover
                    background-color: $light
                &:active
                    border: none
                    background-color: $dark
                &:focus
                    outline: 0
                    // background-color: $dark
                #prev
                    float: left
                #next
                    float: right
    .radioDots
        // border: 1px solid red
        margin: 0 auto
        height: 30px
        width: auto
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        position: relative
        bottom: 32px
        .dot
            cursor: pointer
            height: 15px
            width: 15px
            margin: 0 5px
            background-color: #fff
            border-radius: 50%
            display: inline-block
            transition: background-color 0.6s ease
            &:hover
                background-color: #717171
            &:visited
                background-color: #717171

        // added class via JS
        .active
	        background-color: #717171
