/*  ===   MEDIA QUERIES    ===  */

@media (max-width: 610px)
    .header 
        label
            display: block
            cursor: pointer
        #toggle:checked 
            ~ ul
                margin-top: 25px
                display: flex
        ul
            padding: 25px 0
            flex-flow: column wrap
            display: none
            li
                margin: 0
                &:first-child
                    margin-bottom: -20px            
    // .header ul li:first-child
    //     a
    //         margin: 0 auto
    //         margin-bottom: 5px
    //         padding: 5px 0
    //         line-height: 20px
    //         width: 100%
    //         height: 20px
    .slide-1 div
        h3
            text-align: center
        p
            text-align: center
    .about
        padding: 25px 0
        height: auto
        width: 100%
        h3, p
            margin: 0 auto
            width: 80%
    .contact form
        width: 100%



        
